@using Alocacao.Models.Colaboradores
@using Alocacao.Models.Projetos
@model ProjetoColaboradores

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Header-->
<div class="row">

</div>

<!--pagina completa-->
<div class="row">

    <!--Info Projeto-->
    <div class="col-md-2">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h4 class="box-title">Projeto</h4>
                <button type="button" class="btn bg-primary btn-xs pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>

            <div class="box-body box-profile">
                <h3 class="profile-username text-center">@Model.Projeto.Nome</h3>
                <p class="text-muted text-center">@Model.Projeto.NomeCliente</p>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Cliente</b> <a class="pull-right">@Model.Projeto.NomeCliente</a>
                    </li>
                    <li class="list-group-item">
                        <b>Responsável</b> <a class="pull-right">@Model.Projeto.NomeResponsavel</a>
                    </li>
                    <li class="list-group-item">
                        <b>Início</b> <a class="pull-right">@Model.Projeto.DataInicio.Value.ToString("dd/MM/yyyy")</a>
                    </li>
                    <li class="list-group-item">
                        <b>Fim</b> <a class="pull-right">@Model.Projeto.DataFim.Value.ToString("dd/MM/yyyy")</a>
                    </li>
                    <li class="list-group-item">
                        <b>Nº de Colaboradores</b> <a class="pull-right">@Model.Projeto.ColaboradoresAlocados</a>
                    </li>
                    <li class="list-group-item">
                        <b>Status</b> <a class="pull-right">@Model.Projeto.StatusProjeto</a>
                    </li>
                    <li class="list-group-item">
                        <b>Descrição</b> <a class="pull-right">@Model.Projeto.Descricao</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!--Projetos-->
    <div class="col-md-10">

        <!--Disponiveis-->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid box-primary" id="bxDisp">
                    <div class="box-header">
                        <div class="box-title"><h4>Colaboradores Disponíveis</h4></div>
                        <button title="Mostrar/Esconder Painel" type="button" class="btn bg-primary btn-xs pull-right" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button title="Mostrar/Esconder Filtro" type="button" class="btn bg-primary btn-xs pull-right" data-toggle="filtroDisp" onclick="ToggleFiltro(this)">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="box-body">

                        <!--Filtro-->
                        <div class="row" id="filtroDisp" style="display: none;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Colaborador</label>
                                    <input type="text" name="colaborador" class="form-control input-sm" id="txtColaborador" placeholder="Colaborador">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Cargo</label>
                                    <input type="text" name="cargo" class="form-control input-sm" id="txtCargo" placeholder="Cargo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Departamento</label>
                                    <input type="text" name="departamento" class="form-control input-sm" id="txtDepartamento" placeholder="Departamento">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Contratação</label>
                                    <input type="text" name="contratacao" class="form-control input-sm" id="txtContratacao" placeholder="Contratação">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Número de Projetos</label>
                                    <input type="number" name="numeroProjetos" class="form-control input-sm" id="txtNumeroProjetos">
                                    <button onclick="FiltrarTabelaColaboradores(this)" data-alvo="bxDisp" type="button" style="margin-top: 35px;" class="btn btn-success btn-block">
                                        <i class="fa fa-search"></i>&nbsp;
                                        Filtrar
                                    </button>
                                </div>
                            </div>
                        </div>

                        @using (Html.BeginForm("Alocar", "Projetos", FormMethod.Post))
                        {
                            <!--Opções-->
                            <input type="hidden" name="idProjeto" value="@Model.Projeto.Id" />
                            <div class="row" style="margin-top: 5px; margin-bottom: 10px;">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Início</label>
                                        <input required class="form-control input-sm" type="date" name="dataInicio" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fim</label>
                                        <input required class="form-control input-sm" type="date" name="dataFim" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Horas</label>
                                        <input required class="form-control input-sm" type="number" name="numeroHoras" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button style="margin-top: 25px;" type="submit" class="btn btn-block btn-primary">Alocar</button>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <!--Tabela de colaboradores-->
                                    <table class="table table-bordered table-striped" id="tblDisponiveis">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" id="chkMasterDisp" onchange="ToggleAll('tblDisponiveis')" />
                                                </th>
                                                <th>Colaborador</th>
                                                <th>Cargo</th>
                                                <th>Departamento</th>
                                                <th>Contratação</th>
                                                <th>Nº Projetos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Colaborador c in Model.ColaboradoresDisponiveis)
                                            {
                                                string contratacao = c.DataContratacao!= null ? c.DataContratacao.ToString("dd/MM/yyyy") : "";

                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="colaboradores" value="@c.Id" />
                                                    </td>
                                                    <td>@c.Nome</td>
                                                    <td>@c.Cargo</td>
                                                    <td>@c.Departamento</td>
                                                    <td>@contratacao</td>
                                                    <td>@c.NumeroProjetos</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!--Alocados-->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid box-primary" id="bxAloc">
                    <div class="box-header">
                        <div class="box-title"><h4>Colaboradores Alocados</h4></div>
                        <button title="Mostrar/Esconder painel" type="button" class="btn bg-primary btn-xs pull-right" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button title="Mostrar/Esconder Filtro" type="button" class="btn bg-primary btn-xs pull-right" data-toggle="filtroAloc" onclick="ToggleFiltro(this)">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="box-body">

                        <!--Filtro-->
                        <div class="row" id="filtroAloc" style="display: none;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Colaborador</label>
                                    <input type="text" name="colaborador" class="form-control input-sm" id="txtColaborador" placeholder="Colaborador">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Cargo</label>
                                    <input type="text" name="cargo" class="form-control input-sm" id="txtCargo" placeholder="Cargo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Departamento</label>
                                    <input type="text" name="departamento" class="form-control input-sm" id="txtDepartamento" placeholder="Departamento">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Contratação</label>
                                    <input type="text" name="contratacao" class="form-control input-sm" id="txtContratacao" placeholder="Contratação">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Número de Projetos</label>
                                    <input type="number" name="numeroProjetos" class="form-control input-sm" id="txtNumeroProjetos">
                                    <button onclick="FiltrarTabelaColaboradores(this)" data-alvo="bxAloc" type="button" style="margin-top: 35px;" class="btn btn-success btn-block">
                                        <i class="fa fa-search"></i>&nbsp;
                                        Filtrar
                                    </button>
                                </div>
                            </div>
                        </div>


                        @using (Html.BeginForm("EditarAlocacao", "Projetos", FormMethod.Post, new { id = "frmAlocados" }))
                        {
                            <!--Opções-->
                            <input type="hidden" name="idProjeto" value="@Model.Projeto.Id" />
                            <div class="row" style="margin-top: 5px; margin-bottom: 10px;">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Início</label>
                                        <input required class="form-control input-sm" type="date" name="dataInicio" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fim</label>
                                        <input required class="form-control input-sm" type="date" name="dataFim" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Horas</label>
                                        <input required class="form-control input-sm" type="number" name="numeroHoras" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button style="margin-top: 25px; width: 48%;" type="submit" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>&nbsp;
                                        Editar
                                    </button>
                                    <button onclick="ExcluirAlocacoes()" style="margin-top: 25px; width: 48%;" type="button" class="btn btn-danger">
                                        <i class="fa fa-eraser"></i>&nbsp;
                                        Remover
                                    </button>
                                </div>
                            </div>

                            <table class="table table-bordered table-striped" id="tblAlocados">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="chkMaster" onchange="ToggleAll('tblAlocados')" />
                                        </th>
                                        <th>Colaborador</th>
                                        <th>Cargo</th>
                                        <th>Departamento</th>
                                        <th>Contratação</th>
                                        <th>Nº Projetos</th>
                                        <th>Inicio</th>
                                        <th>Fim</th>
                                        <th>Nº Horas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (AlocacaoColaborador c in Model.ColaboradoresAlocados)
                                    {
                                        string dataContratacao = c.DataContratacao!= null ? c.DataContratacao.ToString("dd/MM/yyyy") : "";
                                        string alocInicio = c.AlocacaoInicio != null ? c.AlocacaoInicio.Value.ToString("dd/MM/yyyy") : "";
                                        string alocFim = c.AlocacaoFim != null ? c.AlocacaoFim.Value.ToString("dd/MM/yyyy") : "";

                                        <tr>
                                            <td>
                                                <input type="checkbox" name="colaboradores" value="@c.AlocacaoId" />
                                            </td>
                                            <td>@c.Nome</td>
                                            <td>@c.Cargo</td>
                                            <td>@c.Departamento</td>
                                            <td>@dataContratacao</td>
                                            <td>@c.NumeroProjetos</td>
                                            <td>@alocInicio</td>
                                            <td>@alocFim</td>
                                            <td>@c.AlocacaoNumeroHoras</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--AJAX delete-->
<script>
    function ExcluirAlocacoes() {
        var table = document.getElementById("tblAlocados").getElementsByTagName("tbody")[0];
        var boxesMarcados = table.querySelectorAll("input:checked");
        var idProj = $("#frmAlocados")[0].querySelector("input[name=idProjeto]").value;
        var alocacoesArray = [];

        $(boxesMarcados).each(function(){
            alocacoesArray.push(this.value);
        });

        $.post(
            '@Url.Action("ExcluirAlocacao", "Projetos")',
            {idProjeto: idProj, alocacoes: alocacoesArray},
            function () {
                window.location.href = '@Url.Action("Projeto", "Projetos")';
                window.location.reload();
            }
        );
    }

</script>


<!--filtro Disponiveis-->
<script>
    function FiltrarTabelaColaboradores(obj) {
        var alvo, boxes, tabela1;
        var colaborador, cardo, departamento, contratacao, numeroProjetos;
        var esconder = false;

        //encontrar div alvo e tabela
        alvo = document.getElementById(obj.getAttribute("data-alvo"));
        tabela1 = alvo.querySelector("table").querySelector("tbody");

        //desmarcar checkboxes
        boxes = alvo.querySelectorAll("input[type=checkbox]");
        for (let i = 0; i < boxes.length; i ++){
            boxes[i].checked = false;
        }

        //Encontrar inputs
        colaborador = alvo.querySelector("input[id=txtColaborador]");
        cargo = alvo.querySelector("input[id=txtCargo]");
        departamento = alvo.querySelector("input[id=txtDepartamento]");
        contratacao = alvo.querySelector("input[id=txtContratacao]");
        numeroProjetos = alvo.querySelector("input[id=txtNumeroProjetos]");

        //percorrer linhas
        $(tabela1.querySelectorAll("tr")).each(function () {
            var celulas = this.querySelectorAll("td");

            //colab
            if (colaborador.value.trim() != "") {
                if (!(celulas[1].innerHTML.toLowerCase().includes(colaborador.value.trim().toLowerCase()))) {
                    esconder = true;
                }
            }

            //cargo
            if (cargo.value.trim() != "") {
                if (!(celulas[2].innerHTML.toLowerCase().includes(cargo.value.trim().toLowerCase()))) {
                    esconder = true;
                }
            }

            //departamento
            if (departamento.value.trim() != "") {
                if (!(celulas[3].innerHTML.toLowerCase().includes(departamento.value.trim().toLowerCase()))) {
                    esconder = true;
                }
            }

            //contratacao
            if (contratacao.value.trim() != "") {
                if (!(celulas[4].innerHTML.toLowerCase().includes(formatarData(contratacao.value)))) {
                    esconder = true;
                }
            }

            //numeroProjetos
            if (numeroProjetos.value.trim() != "") {
                if (!(celulas[5].innerHTML.toLowerCase().includes(numeroProjetos.value.trim().toLowerCase()))) {
                    esconder = true;
                }
            }
                      
            //Finally, esconde ou não
            if (esconder == true) {
                this.style.display = "none";
            }
            else if(esconder == false) {
                this.style.display = "";
            }
            else {
                alert("Informe valores para o filtro!");
            }
        });


    }

    function LimparTabelaColaboradores(obj) {
        var alvo, boxes;
        var projeto, cliente, inicio, responsavel, status, fim, inicio, fim, numeroColaboradores;

        alvo = document.getElementById(obj.getAttribute("data-alvo"));

        projeto = alvo.querySelector("input[id=txtProjeto]");
        cliente = alvo.querySelector("input[id=txtCliente]");
        inicio = alvo.querySelector("input[id=txtInicio]");
        responsavel = alvo.querySelector("input[id=txtResponsavel]");
        status = alvo.querySelector("input[id=txtStatus]");
        fim = alvo.querySelector("input[id=txtFim]");
        inicio = alvo.querySelector("input[id=txtInicio]");
        numeroColaboradores = alvo.querySelector("input[id=txtNumeroColaboradores]");

        alvo.value = "";
        projeto.value = "";
        cliente.value = "";
        inicio.value = "";
        responsavel.value = "";
        status.value = "";
        fim.value = "";
        inicio.value = "";
        numeroColaboradores.value = "";

        //TODO: mostrar todas as linhas: display = "" p/ todas as <TR>

    }

    function formatarData(dtString) {
        var d, dia, mes, ano, retorno;
        d = new Date(dtString);

        dia = (d.getDate() + 1);
        dia < 10 ? dia = '0' + String(dia) : String(dia);

        mes = (d.getMonth() + 1);
        mes < 10 ? mes = '0' + String(mes) : String(mes);

        ano = d.getFullYear();
        ano < 10 ? ano = '0' + String(ano) : String(ano);

        retorno = dia + "/" + mes + "/" + ano;


        return retorno;
    }
</script>
