@using Alocacao.Models.Colaboradores
@using Alocacao.Models.Projetos
@model ColaboradorProjetos

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Header-->
<div class="row">

</div>

<!--pagina completa-->
<div class="row">
    
    <!--Info Colaborador-->
    <div class="col-md-2">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h4 class="box-title">Colaborador</h4>
                <button type="button" class="btn bg-primary btn-xs pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>

            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="@Model.Colaborador.ProfilePic" alt="">
                <h3 class="profile-username text-center">@Model.Colaborador.Nome</h3>
                <p class="text-muted text-center">@Model.Colaborador.Cargo</p>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Departamento</b> <a class="pull-right">@Model.Colaborador.Departamento</a>
                    </li>
                    <li class="list-group-item">
                        <b>Contratação</b> <a class="pull-right">@Model.Colaborador.DataContratacao.ToString("dd/MM/yyyy")</a>
                    </li>
                    <li class="list-group-item">
                        <b>Nº de projetos</b> <a class="pull-right">@Model.Colaborador.NumeroProjetos</a>
                    </li>
                    <li class="list-group-item">
                        <b>Etc</b>
                        <a class="pull-right">Lorem Ipsum</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!--Projetos-->
    <div class="col-md-10">

        <!--Disponiveis-->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <div class="box-title"><h4>Projetos Disponíveis</h4></div>
                        <button title="Mostrar/Esconder Painel" type="button" class="btn bg-primary btn-xs pull-right" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button title="Mostrar/Esconder Filtro" type="button" class="btn bg-primary btn-xs pull-right" data-toggle="filtroDisp" onclick="ToggleFiltro(this)">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="box-body">
                        <!--Filtro-->
                        <div class="row" id="filtroDisp" style=" display: none;">
                            @using (Html.BeginForm("FiltrarColaboradores", "Colaboradores", FormMethod.Post))
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Projeto</label>
                                        <input type="text" name="projeto" class="form-control input-sm" id="txtProjeto" placeholder="Projeto">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Cliente</label>
                                        <input type="name" name="cliente" class="form-control input-sm" id="txtCliente" placeholder="Cliente">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Responsável</label>
                                        <input type="text" name="responsavel" class="form-control input-sm" id="txtProjeto" placeholder="Responsavel">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Status</label>
                                        <input type="text" name="status" class="form-control input-sm" id="txtProjeto" placeholder="Status">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Inicio</label>
                                        <input type="date" name="dtInicio" class="form-control input-sm" id="txtInicio">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fim</label>
                                        <input type="date" name="dtFim" class="form-control input-sm" id="txtFim">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Etc</label>
                                        <input type="text" name="etc" class="form-control input-sm" id="txtEtc">
                                        <button type="submit" style="margin-top: 35px;" class="btn btn-success btn-block">
                                            <i class="fa fa-search"></i>&nbsp;
                                            Filtrar
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>



                        
                        @using (Html.BeginForm("Alocar", "Colaboradores", FormMethod.Post))
                        {
                            <!--Opções-->
                            <input type="hidden" name="idColaborador" value="@Model.Colaborador.Id"/>
                            <div class="row" style="margin-top: 5px; margin-bottom: 10px;">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Início</label>
                                        <input required class="form-control input-sm" type="date" name="dataInicio" />                                        
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fim</label>
                                        <input required class="form-control input-sm" type="date" name="dataFim" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Horas</label>
                                        <input required class="form-control input-sm" type="number" name="numeroHoras" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button style="margin-top: 25px;" type="submit" class="btn btn-block btn-success">Alocar</button>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <!--Tabela de colaboradores-->
                                    <table class="table table-bordered table-striped" id="tblDisponiveis">
                                        <thead>
                                            <tr style="background-color: #d8d8d8 !important;">
                                                <th>
                                                    <input type="checkbox" id="chkMasterDisp" onchange="ToggleAll('tblDisponiveis')" />
                                                </th>
                                                <th>Projeto</th>
                                                <th>Cliente</th>
                                                <th>Responsável</th>
                                                <th>Início</th>
                                                <th>Fim (previsto)</th>
                                                <th>Status</th>
                                                <th>Descrição</th>
                                                <th>Nº Colaboradores alocados</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Projeto p in Model.ProjetosDisponiveis)
                                            {
                                                string dataInicio = p.DataInicio != null ? p.DataInicio.Value.ToString("dd/MM/yyyy") : "";
                                                string dataFim = p.DataFim != null ? p.DataFim.Value.ToString("dd/MM/yyyy") : "";

                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="projetos" value="@p.Id"/>
                                                    </td>
                                                    <td>@p.Nome</td>
                                                    <td>@p.NomeCliente</td>
                                                    <td>@p.NomeResponsavel</td>
                                                    <td>@dataInicio</td>
                                                    <td>@dataFim</td>
                                                    <td>@p.StatusProjeto</td>
                                                    <td>@p.Descricao</td>
                                                    <td>@p.ColaboradoresAlocados</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        }
                                                
                    </div>
                </div>
            </div>
        </div>

        <!--Alocados-->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <div class="box-title"><h4>Projetos Alocados</h4></div>
                        <button title="Mostrar/Esconder painel" type="button" class="btn bg-primary btn-xs pull-right" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>                
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-striped" id="tblAlocados">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="chkMaster" onchange="ToggleAll('tblAlocados')" />
                                    </th>
                                    <th>Projeto</th>
                                    <th>Cliente</th>
                                    <th>Responsável</th>
                                    <th>Início</th>
                                    <th>Fim (previsto)</th>
                                    <th>Status</th>
                                    <th>Descrição</th>
                                    <th>Nº Colaboradores alocados</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Projeto p in Model.ProjetosAlocados)
                                {
                                    string dataInicio = p.DataInicio != null ? p.DataInicio.Value.ToString("dd/MM/yyyy") : "";
                                    string dataFim = p.DataFim != null ? p.DataFim.Value.ToString("dd/MM/yyyy") : "";

                                    <tr>
                                        <td>
                                            <input type="checkbox" id="chkMasterAloc" onchange="ToggleAll()" />
                                        </td>
                                        <td>@p.Nome</td>
                                        <td>@p.NomeCliente</td>
                                        <td>@p.NomeResponsavel</td>
                                        <td>@dataInicio</td>
                                        <td>@dataFim</td>
                                        <td>@p.StatusProjeto</td>
                                        <td>@p.Descricao</td>
                                        <td>@p.ColaboradoresAlocados</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

