@model List<Colaborador>
@using Alocacao.Models.Colaboradores;

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Filtro-->
<div class="row">

    @using (Html.BeginForm("Filtrar", "Colaboradores", FormMethod.Post))
    {
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h4 class="box-title">Filtro</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input name="Nome" type="text" class="form-control" placeholder="Nome...">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
                                <input name="Cargo" type="text" class="form-control" placeholder="Cargo...">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bank"></i></span>
                                <input name="Departamento" type="text" class="form-control" placeholder="Cargo...">
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>


<!--colaboradores-->
<div class="row">
    <div class="col-md-12">
        <div class="box  box-solid box-primary">
            <div class="box-header">
                <h4 class="box-title">Colaboradores</h4>
            </div>
            <div class="box-body box-solid box-primary">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cargo</th>
                            <th>Departamento</th>
                            <th>Data de Contratação</th>
                            <th>Número de Projetos</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Colaborador c in Model)
                        {
                            <tr>
                                <td>@c.Nome</td>
                                <td>@c.Cargo</td>
                                <td>@c.Departamento</td>
                                <td>@c.DataContratacao.ToString("dd/MM/yyyy")</td>
                                <td>@c.NumeroProjetos</td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>